5.	Write a program to print all the common elements of 2 list.

In [2]:
l1=[1,2,3,5,6,7,8,34,56,78]
l2=[2,4,9,11,16,75,45,23,56]

In [3]:
# Solution 1

In [11]:
print("Common Elements are:")
for i in l1:
    if  i in l2:
        print(i)

Common Elements are:
2
56

In [12]:
# Solution 2

In [13]:
print(set(l1).intersection(set(l2)))

{56, 2}

In [14]:
# Solution 3

In [16]:
a,b=set(l1),set(l2)
print("Common elements are :",list(a&b))

Common elements are : [56, 2]

6.	Write a program to reverse a list.

In [22]:
# Solution 1

In [26]:
rev=[]
for i in range(len(l1)-1,-1,-1):
    rev.append(l1[i])
print(rev)

[78, 56, 34, 8, 7, 6, 5, 3, 2, 1]

In [27]:
# Solution 2

In [46]:
l1.reverse()
print(l1)
#l1.reverse()

[78, 56, 34, 8, 7, 6, 5, 3, 2, 1]

In [45]:
#Solution 3

In [47]:
print([i for i in reversed(l2)])

[56, 23, 45, 75, 16, 11, 9, 4, 2]

In [48]:
#Solution 4

In [49]:
print(l2[::-1])

[56, 23, 45, 75, 16, 11, 9, 4, 2]

7.	Write a program to find the second largest and second smallest value from a list.

In [83]:
# Solution 1

In [68]:
mn=100000007
mx=-100000007
for i in l2:
    if i!=min(l2):
        mn=min(mn,i)
    if i!=max(l2):
        mx=max(mx,i)
print('Second smallest : {} Second Largest : {}'.format(mn,mx))

Second smallest : 4 Second Largest : 56

In [60]:
# Solution 2

In [75]:
print('Second smallest : {} Second Largest : {}'.format(sorted(l2)[1],sorted(l2)[len(l2)-2]))

Second smallest : 4 Second Largest : 56

In [81]:
# Solution 3 :Noob approach

In [97]:
l2=[2,4,9,11,16,75,45,23,56]

In [98]:
p=set(l2)
l2.remove(min(p))
l2.remove(max(l2))
print('Second smallest : {} Second Largest : {}'.format(min(l2),max(l2)))

Second smallest : 4 Second Largest : 56

8.	Write a program to find the average of all elements in a list.

In [102]:
l3=[1,2,3,4,5]

In [100]:
#Solution 1

In [104]:
print("Average:",sum(l3)/len(l3))

Average: 3.0

In [105]:
# Solution 2

In [108]:
s,c=0,0
for i in l3:
    s+=i
    c+=1
print("Average:",s/c)

Average: 3.0

In [111]:
# Solution 3

In [110]:
s,c=0,0
for i in range(len(l3)):
    s+=l3[i]
    c+=1
print("Average:",s/c)

Average: 3.0

In [112]:
# Solution 4

In [117]:
from statistics import mean
print(float(mean(l3)))

3.0

9.	Write a program to to generate random numbers within a given range and store it in a list.

 Range given = [3,7]

In [2]:
import random

In [120]:
#Solution 1

In [4]:
k=True
res=[]
while(k):
    print(a:=random.randint(3,7))
    s=input("Generate More?: Y/N:")
    if s=="N":
        k=False
        print("Generated Random Number's List :",res)
    elif s=="Y":
        res.append(a)
    else:
        print("Please Enter Valid Option !! \n")

3
Generate More?: Y/N:Y
7
Generate More?: Y/N:Y
7
Generate More?: Y/N:Y
5
Generate More?: Y/N:Y
4
Generate More?: Y/N:u
Please Enter Valid Option !!

3
Generate More?: Y/N:N
Generated Random Number's List : [3, 7, 7, 5]

10.	Write a program to split the even and odd elements into 2 different lists.

In [5]:
t=[1,2,3,4,5,6,7,8,9,10]

In [14]:
# Solution 1

In [12]:
eve=[]
odd=[]
for i in t:
    if i%2!=0:
        odd.append(i)
    else:
        eve.append(i)
print("Even Number's List:",eve)
print("Odd Number's List:",odd)

Even Number's List: [2, 4, 6, 8, 10]
Odd Number's List: [1, 3, 5, 7, 9]

In [13]:
# Solution 2

In [15]:
eve=[]
odd=[]
for i in range(len(t)):
    if t[i]%2!=0:
        odd.append(t[i])
    else:
        eve.append(t[i])
print("Even Number's List:",eve)
print("Odd Number's List:",odd)

Even Number's List: [2, 4, 6, 8, 10]
Odd Number's List: [1, 3, 5, 7, 9]

In [16]:
# Solution 3

In [20]:
eve=[]
odd=[]
for i in range(0,len(t),2):
    eve.append(t[i])
for i in t:
    if i not in eve:
        odd.append(i)
print("Even Number's List:",eve)
print("Odd Number's List:",odd)

Even Number's List: [1, 3, 5, 7, 9]
Odd Number's List: [2, 4, 6, 8, 10]

11.	Write a Python program to create a tuple

In [33]:
k=("kishan",'mishra')
print(k)
print(type(k))

('kishan', 'mishra')
<class 'tuple'>

12.	Write a Python program to create a tuple with different data types.

In [38]:
#integer list
list1=[1,2,3,4,5]
k1=tuple(list1)
print(type(k1))

#string list
list2=["kishan","mishra"]
k2=tuple(list2)
print(type(k2))

#set
s1={1,2,3,4}
k3=tuple(s1)
print(type(k3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

13.	Write a Python program to unpack a tuple in several variables.

In [41]:
# Solution

In [39]:
k=("kishan","is","my","name",".")

#Unpacking
up_list=list(k)
print(up_list)

['kishan', 'is', 'my', 'name', '.']

14.	 Write a Python program to add an item in a tuple.

In [44]:
# Element to add
ele=2022
k=("kishan","is","my","name",".")

In [45]:
up_list=list(k)
up_list.append(ele)
k=tuple(up_list)
print(k)

('kishan', 'is', 'my', 'name', '.', 2022)

Write a Python program to convert a tuple to a string.

In [46]:
k=("kishan","is","my","name",".")

In [47]:
print("".join(str(a) for a in k))

kishanismyname.

16.	Write a Python program to get the 4th element and 4th element from last of a tuple.

In [49]:
tup=(1,2,3,4,5,6,'k','i','s','h','a','n')

In [54]:
print("4th Element : {}\n4th Last Element : {}".format(tup[3],tup[-4]))

4th Element : 4
4th Last Element : s

17.	Write a Python program to find the repeated items of a tuple.

In [1]:
tup=(1,2,2,4,5,6,7,8,8,'k','i','i','s',5)

In [65]:
# Solution 1

In [64]:
print("Repeated Elements in the tuple:")
s=set()
for i in tup:
    if i not in s:
        s.add(i)
    else:
        print(i)

Repeated Elements in the tuple:
2
8
i
5

18.	Write a Python program to check whether an element exists within a tuple.

In [70]:
# Element to Check
ele='k'

In [68]:
# Solution 1

In [71]:
print(ele in tup )

True

In [72]:
# Solution 2

In [74]:
k=False
for i in tup:
    if i=="k":
        k=True
        break
print(k)

True

19.	Write a Python program to slice a tuple.

In [91]:
print("Tuple:",tup)
s,e=map(eval,input("Enter the starting and ending range :").split())
print(tup[s:e])

Tuple: (1, 2, 2, 4, 5, 6, 7, 8, 8, 'k', 'i', 'i', 's', 5)
Enter the starting and ending range :9 12
('k', 'i', 'i')

20.	Write a Python program to find the index of an item of a tuple.

In [2]:
tup=(1,2,3,4,67,8,9,3)

In [93]:
# Solution

In [5]:
k=int(input('Enter the element\'s index you want to see:'))
for i in range(len(tup)):
    if tup[i] == k:
        print(f"Index Position of {k} is {i}")

Enter the element's index you want to see:4
Index Position of 4 is 3

In [6]:
# Solution 2

In [7]:
k=int(input('Enter the element\'s index you want to see:'))
for i, x in enumerate(tup):
    if x == k:
        print(f"Index Position of {k} is {i}")

Enter the element's index you want to see:67
Index Position of 67 is 4

In [8]:
# Solution 3

In [11]:
k=int(input('Enter the element\'s index you want to see:'))
print(f"Index Position of {k} is {tup.index(k)}")

Enter the element's index you want to see:9
Index Position of 9 is 6

21.	Write a Python program to find the length of a tuple.

In [4]:
tup=(1,2,3,4,67,8,9,3)

In [12]:
# Solution

In [5]:
c=0
for i in tup:
    c+=1
print("Length Of Tuple is ",c)

Length Of Tuple is  8

In [14]:
# Solution 2

In [6]:
print("Length Of Tuple is ",len(tup))

Length Of Tuple is  8

In [7]:
# Solution
i=0
c=0
k=True
try:
    while(tup[i]!=None and k):
        c+=1
        i+=1
except IndexError:
    k=False
print("Length Of Tuple is ",c)

Length Of Tuple is  8

22.	Write a Python program to convert a tuple to a dictionary.

In [22]:
#Tuple
tup = (("Os", "Pass"), ("DMDW", "Pass"), ("MC", "Pass"), ("CN", "Fail:("))

In [21]:
d={}
for i , j in tup:
    d[i]=j
print("Dictionary :",d)

Dictionary : {'Os': 'Pass', 'DMDW': 'Pass', 'MC': 'Pass', 'CN': 'Fail:('}

23.	Write a Python program to unzip a list of tuples into individual lists.

In [112]:
l=[(1,2),(2,3),(4,5),(6,7)]

In [34]:
# Solution 1

In [44]:
res=[[i for i,j in l ],[j for i,j in l]]
print(res)

[[1, 2, 4, 6], [2, 3, 5, 7]]

In [35]:
# Solution 2

In [52]:
s,k=[],[]
for i,j in l:
    k.append(i)
    s.append(j)
print([k,s])

[[1, 2, 4, 6], [2, 3, 5, 7]]

In [53]:
# Solution 3

In [113]:
res=[]
for i in l:
    res.append(list(i))
print(res)

[[1, 2], [2, 3], [4, 5], [6, 7]]

In [ ]:
# Solution 4

In [66]:
s=[]
r=[]
for i in zip(*l):
    s.append(i)
for i in s:
    r.append([*i]) 
print(r)

[[1, 2, 4, 6], [2, 3, 5, 7]]

24.	Write a Python program to reverse a tuple.

In [73]:
tup=(1,2,2,4,5,6,7,8,8,'k','i','i','s',5)

In [75]:
#Solution 1

In [74]:
print(tup[::-1])

(5, 's', 'i', 'i', 'k', 8, 8, 7, 6, 5, 4, 2, 2, 1)

In [76]:
# Solution 2

In [78]:
print([i for i in reversed(tup)])

[5, 's', 'i', 'i', 'k', 8, 8, 7, 6, 5, 4, 2, 2, 1]

25.	Write a Python program to convert a list of tuples into a dictionary.

In [82]:
lst=[("kishan","mishra"),("akash","sahoo"),("sanikesh","ojha")]
dic={}
for i,j in lst:
    dic[i]=j
print("")
print("Dictionary Created:\n",dic)

{'kishan': 'mishra', 'akash': 'sahoo', 'sanikesh': 'ojha'}

26.	Write a Python program to print a tuple with string formatting. <br>
Sample tuple : (100, 200, 300)<br>
Output : This is a tuple (100, 200, 300)

In [94]:
Sample_tuple=(100, 200, 300)
print("This is a tuple",Sample_tuple)

This is a tuple (100, 200, 300)

27.	Write a Python program to replace last value of tuples in a list.<br>
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]<br>
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [121]:
Sample_list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
res,op=[],[]
for i in Sample_list:
    res.append(list(i))
for i in range(len(res)):
    res[i][-1]=100
for i in res:
    op.append(tuple(i))
print("Expected Output :",op)

Expected Output : [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

28.	Write a Python program to replace last value of tuples in a list.<br>
Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]<br>
Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [133]:
data= [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
data[-1]="".join(data[-1])
res=[]
for i in data:
    if len(i)>0:
        res.append(i)
print("Expected output:",res)

Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

29.	Write a Python program to sort a tuple by its float element.<br>
Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]<br>
Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [134]:
data=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

In [ ]:
# Solution 1

In [137]:
print(sorted(data,reverse=True,key=lambda x:x[1]))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

30.	Write a Python program to count the elements in a list until an element is a tuple.

In [150]:
data=[["kishan"],["Mishra"],['Sanikesh'],['Ojha'],[2],(2,3,4)]

# Solution

In [153]:
c=0
for i in data:
    try:
        i.append(1)
        c+=1
    except AttributeError:
        break
print(c)

5